<!DOCTYPE html>
<html>
<head>
    <title>Add Product</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h2>Add Product (Product Master)</h2>

<form method="post">
    <label>Product Name:</label><br>
    <input type="text" name="name" required><br><br>

    <label>MRP:</label><br>
    <input type="number" step="0.01" name="mrp" required><br><br>

    <label>Selling Price:</label><br>
    <input type="number" step="0.01" name="price" required><br><br>

    <label>Unit:</label><br>
    <select name="unit" required>
        <option value="kg">kg</option>
        <option value="g">g</option>
        <option value="pcs">pcs</option>
    </select><br><br>

    <button type="submit">Save Product</button>
</form>

<br>
<a href="/billing">⬅ B
